name: Masak APK Tanpa Kompor (Final Fix)

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    # GANTI KE VERSI 8.5
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.5'

    - name: Masak APK
      run: gradle assembleDebug --stacktrace

    - name: Upload Hasil
      uses: actions/upload-artifact@v4
      with:
        name: TitanReminder-APK
        path: app/build/outputs/apk/debug/app-debug.apk
